<table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

  <!--- Note that these columns can be defined in any order.
        The actual rendered columns are set as a property on the row definition" -->

  <ng-container matColumnDef="id">
    <th mat-header-cell *matHeaderCellDef> ID </th>
    <td mat-cell *matCellDef="let element"> {{element.movementId}} </td>
  </ng-container>

  <ng-container matColumnDef="company">
    <th mat-header-cell *matHeaderCellDef> Company </th>
    <td mat-cell *matCellDef="let element"> {{element.company}} </td>
  </ng-container>

  <ng-container matColumnDef="reason">
    <th mat-header-cell *matHeaderCellDef> Reason </th>
    <td mat-cell *matCellDef="let element"> {{element.reason}} </td>
  </ng-container>

  
  <ng-container matColumnDef="from">
    <th mat-header-cell *matHeaderCellDef> Origin </th>
    <td mat-cell *matCellDef="let element"> {{element.originFarmId}} </td>
  </ng-container>

  <ng-container matColumnDef="to">
    <th mat-header-cell *matHeaderCellDef> Destination </th>
    <td mat-cell *matCellDef="let element"> {{element.destinationFarmId}} </td>
  </ng-container>

  <ng-container matColumnDef="species">
    <th mat-header-cell *matHeaderCellDef> Species </th>
    <td mat-cell *matCellDef="let element"> {{element.species}} </td>
  </ng-container>
  
  <ng-container matColumnDef="itemsMoved">
    <th mat-header-cell *matHeaderCellDef> Items Moved </th>
    <td mat-cell *matCellDef="let element"> {{element.itemsMoved}} </td>
  </ng-container>

  <ng-container matColumnDef="date">
    <th mat-header-cell *matHeaderCellDef> Date </th>
    <td mat-cell *matCellDef="let element"> {{element.movementDate}} </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>

