<div class="form">
<form [formGroup]="form" (ngSubmit)="onSubmit()">
    <mat-card class="addMovement-card" >
    <mat-card-header class="center">
        <mat-card-title>Add New Movement</mat-card-title>
    </mat-card-header>
    <mat-card-content class="center">
        <mat-form-field>
            <mat-label>Enter Company Name</mat-label>
            <input matInput placeholder="Example" required formControlName="company">
        </mat-form-field>
        <br/>
        <mat-form-field>
            <mat-label> Origin Farm</mat-label>
            <mat-select required formControlName="originFarmId" (selectionChange)="onOriginChange($event.value)">
                <mat-option *ngFor="let farm of originFarmList" [value]="farm.id">{{ farm.name }}</mat-option>
            </mat-select>
        </mat-form-field>
        <br/>
        <mat-form-field>
            <mat-label> Destination Farm</mat-label>
            <mat-select required formControlName="destinationFarmId" (selectionChange)="onDestinationChange($event.value)">
                <mat-option *ngFor="let farm of destinationFarmList" [value]="farm.id">{{ farm.name }}</mat-option>
            </mat-select>
        </mat-form-field>
        <br/>
        <mat-form-field>
            <mat-label>Resaon For movement</mat-label>
            <input matInput placeholder="Example" required formControlName="reason">
        </mat-form-field>
        <br/>
        <mat-form-field>
            <mat-label>Enter Species Name</mat-label>
            <input matInput placeholder="Example" required formControlName="species">
        </mat-form-field>
        <br/>
        <mat-form-field>
            <mat-label class="center">Items Moved</mat-label>
            <input matInput type="number" placeholder="Example" required formControlName="itemsMoved">
        </mat-form-field>
        <br/>
        <mat-form-field>
            <mat-label>Enter Movement Date</mat-label>
            <input matInput type="date"  required formControlName="movementDate">
        </mat-form-field>
        <br/>
    </mat-card-content>
    <mat-card-actions>
        <button class="form" type="submit" mat-raised-button color="primary">Add Movement</button>
        <router-outlet></router-outlet>
    </mat-card-actions>
    </mat-card>
</form>
</div>

