.form {
  width: 50%; 
  margin: 10% auto; 
}
.center {
  margin: 0 auto; 
  padding: 1%;
}

.form-right-align {
  text-align: right;
}

input.form-right-align::-webkit-outer-spin-button,
input.form-right-align::-webkit-inner-spin-button {
  display: none;
}

input.form-right-align {
  -moz-appearance: textfield;
}